@font-face {
    font-family: 'poppinsregular';
    src: url("../fonts/poppins-regular-webfont.eot");
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1168px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
header nav li{
    margin-left: 32px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type{
    margin-left: 31px;
}
header nav li a{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
}
.main_banner {
    background-image: url("../images/main_bg.jpg");
    background-size: cover;
    height: calc(100vh - 135px);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.main_banner h3{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}
.main_banner h1{
    color: #FFF;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
    margin-bottom: 18px;
}
.main_banner p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.what_we_do{
    background-color: black;
    padding-top: 113px;
}
.whatwedo_text{
    max-width: 413px;
    margin: auto;
}
.whatwedo_text h3{
    color: #FFF;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; 
}
.whatwedo_text h4{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 15px;

}
.what_we_do .d_flex{
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 100px;
}
.what_we_do .row{
    display: flex;
    gap: 16px;
    padding-top: 16px;
}
.what_we_do .card{
    max-width: 576px;
    height: 600px;
    position: relative;
}
.what_we_do .d_flex .article{
    max-width: 576px;
}
.what_we_do .d_flex .article img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.prod_photography{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.prod_photography h2{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-transform: uppercase;
}
.prod_photography h3{
    max-width: 501px;
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding-top: 10px;
}
.prod_photography a{
    color: #000;
    background: #FFF;
    border-radius: 14px;
    max-width: 143px;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.arch_photography{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.arch_photography h2{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.arch_photography h3{
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    max-width: 514px;
    padding-top: 10px;
}
.arch_photography a{
    color: #000;
    background: #FFF;
    border-radius: 14px;
    max-width: 143px;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.dro_photography{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.dro_photography h2{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-transform: uppercase;
}
.dro_photography h3{
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    max-width: 516px;
    padding-top: 10px;
}
.dro_photography a{
    color: #000;
    background: #FFF;
    border-radius: 14px;
    max-width: 143px;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.wild_photography{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.wild_photography h2{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-transform: uppercase;
}
.wild_photography h3{
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    max-width: 516px;
    padding-top: 10px;
}
.wild_photography a{
    color: #000;
    background: #FFF;
    border-radius: 14px;
    max-width: 143px;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.sunset_mount {
    background-image: url("../images/sunset.jpg");
    min-height: 600px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: end;
}
.sunset_mount .container{
    text-align: left;
    max-width: 298px;
    margin-right: 62px;
}
.sunset_mount h3{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sunset_mount p{
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.gear_cage{
    min-height: 540px;
    position: relative;
    background-color: black;
}
.gear_cage:after{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/sweden.jpg");
    background-size: cover;
    content: "";
    display: block;
}
    .gear_cage .container{
        max-width: 1240px;
        align-items: center;
        display: flex;
        min-height: 540px;
        
    }
.gear_cage .container article{
    max-width: 514px;
    align-items: center;
}
.gear_cage h4{
    color: #C0C0C0;
    font-family: 'poppinsregular';;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.gear_cage h3{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 6px;
}
.gear_cage p{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 14px;
    max-width: 514px;
}
.gear_cage a{
    color: #000;
    background: #FFF;
    border-radius: 14px;
    max-width: 143px;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    padding: 10px 15px;    
    text-align: center;
}
.monstera_leafs {
    background-image: url("../images/monstera.jpg");
    min-height: 600px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: end;
}
.monstera_leafs .container {
    text-align: left;
    max-width: 273px;
    margin-right: 87px;
}
.monstera_leafs h3 {
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.monstera_leafs p {
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.past_clients {
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 100px;
}
.past_clients .container {
    text-align: center;
    max-width: 441px;
}
.past_clients h2 {
    color: #FFF;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}
.past_clients h3 {
    color: #C0C0C0;
    margin-top: 15px;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
    .pastclients_img {
       max-width: 1076px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 82px;
        align-items: center;
    }
.starfall {
  background-image: url("../images/starfall.jpg");
    min-height: 600px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: end;
}
.starfall .container {
    max-width: 254px;
    margin-right: 119px;
}
.starfall h3 {
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.starfall p {
    color: #C0C0C0;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.icons {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.icons li {
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}
.icons li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;
}
.icons li:nth-child(2):before {
    background-image: url("../images/icon2.svg");
}
.icons li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
    margin-right: 7px;
}
.icons li:last-of-type:before {
    background-image: url("../images/icon4.svg");
    width: 10px;
    margin-right: 5px;
}

